<!DOCTYPE html>
<html>
  <head>
    <title>frontRoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="stylesheets/grid.css"/>
    <link rel='stylesheet' type="text/css" href="stylesheets/normalize.css"/>
    <link rel='stylesheet' type="text/css" href="stylesheets/style.css"/>
  <body>
    <div class="menu">
      <div class="login">
        <a href="<%= headerUrl%>"><%= rubric%></a>
        <a href='/logout'><%= logout%></a>
      </div>
      <ul class="navigation">
            <li data-slide="1">Home</li>
            <li data-slide="2">Tunes</li>
            <li data-slide="3">Podcasts</li>
      </ul>
    </div>
    <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
      <div class="container clearfix">
        <div id="header" class="grid_7">
          <h1>frontRoom</h1>
          <h2>...don't go in the back room.</h2>
          <p><i>"Let an accomplished man try what seems to him most obvious, most certain, most palpable in (musical) matters, upon the housemaid and the footman, and he will find that what he says seems unintelligible, confused and erroneous - that his audience think him mad and wild when he is speaking what is in his own sphere of thought the dullest platitude of cautious soberness." </i> - Bagehot</p>
        </div>
      </div>
    </div>
    <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
      <div class="container clearfix">
        <h1>Tunes</h1>
        <h2>Latest reviews</h2>
        <!-- This div gets replaced the tunes! -->
        <div id="tunecontainer"/>
      </div>
    </div>
    <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
      <div class="container clearfix">
        <h1>Podcasts</h1>
        <div class="grid_3">
          <h2>Podcast 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat hendrerit ipsum, ut iaculis sapien vestibulum sed. Sed pretium nunc ut lectus pulvinar ut viverra est elementum. Pellentesque in nisl at orci sodales auctor a at nisl. Nulla eget ipsum a nulla facilisis tincidunt. Vivamus vitae metus et erat varius bibendum aliquam in velit. Morbi faucibus placerat dui a malesuada. Phasellus sollicitudin urna enim. Integer vehicula, nisi eu dignissim suscipit, nunc ligula tristique lorem, ac tempus magna neque a neque. Donec hendrerit magna eu.</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="javascripts/waypoints.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <script>
    $(document).ready(function() {
       $.get("/tunes",function(data,status){
        $('#tunecontainer').html(data);
    });
    });
    </script>
  </body>
</html>