<!Doctype html>
<html>
	<head>
		<title>backRoom. Welcome <%= name %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel='stylesheet' type="text/css" href="stylesheets/grid.css"/>
	    <link rel='stylesheet' type="text/css" href="stylesheets/normalize.css"/>
	    <link rel='stylesheet' type="text/css" href="stylesheets/style.css"/>
	</head>
	<body>
		<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
      <div class="container clearfix">
        <div id="header" class="grid_7">
          <h1>backRoom</h1>
          <h2>Welcome <%= name%></h2>
          <p>This is the place to update your details, add users and most importantly, post tunes.</p>
        </div>
        <ul class="navigation">
          <li data-slide="1">Edit your deets</li>
          <li data-slide="2">Add a new frontRoomer</li>
          <li data-slide="3">Post a tune</li>
          <li data-slide="4">Send bug report</li>
        </ul>
      </div>
    </div>
	</body>
</html>