<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  	<form name="user" method="post">
	  	<input name="username"/>
	  	<input name="password"/>
	  	<input name="email"/>
	  	<input name="fullName"/>
	  	<input type="submit" value="Send">
	</form>
  </body>
 </html>